name: Update GitHub Contributor Stats

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual triggering

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Grants write permission to the contents of the repository

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate GitHub Contributor Stats
        uses: Atry/github-repository-contribution-stats@github-action
        with:
          username: Atry
          token: ${{ secrets.GITHUB_TOKEN }}
          combine-all-yearly-contributions: 'true'
          hide-contributor-rank: 'false'
          output-file: 'github-contributor-stats.svg'

      - uses: actions4git/add-commit-push@v1
        continue-on-error: true
